@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 95%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 100vh;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1, .card2, .card3 {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0px 0px 8px;
}

.card2 {
    background-color: hsl(184, 100%, 22%);
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 8px 8px 0px;
}

.card-icon {
    margin: 3rem 3rem 2rem 3rem;
}

h1 {
    color: hsl(0, 0%, 95%);
    margin: 0rem 3rem 0rem 3rem;
    font-family: 'Big Shoulders Display', serif;
    font-weight: 100 900;
    font-display: swap;
    font-size: 40px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 2rem 6rem 3rem 3rem;
}

.card-button {
    display: flex;
    justify-content: start;
    margin: 3rem;
}

button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.button1 {
    color:  hsl(31, 77%, 52%);
}

.button2 {
    color:  hsl(184, 100%, 22%);
}

.button3 {
    color:  hsl(179, 100%, 13%);
}